<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>理财产品</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}"></link>
    <link rel="stylesheet" href="../../static/css/index/page.css" th:href="@{/css/index/page.css}"></link>
    <link href="../../static/css/index/global.css" th:href="@{/css/index/global.css}" rel="stylesheet"></link>
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css"
          th:href="@{http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css}"></link>
    <script src="../../static/js/jquery-3.3.1.js" th:src="@{/js/jquery-3.3.1.js}"></script>
    <script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
    <script src="../../static/js/vue.js" th:src="@{/js/vue.js}"></script>
    <style type="text/css">
        .layui-table-cell {
            height: 36px;
            line-height: 36px;
        }
    </style>
</head>

<body>


<div class="content_box">
    <div class="breadcrumb_item">

    </div>
    <div class="condition_box">
        <form class="layui-form" id="sysMiCondForm"   th:object="${product}" method="post">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 110px;">产品期限：</label>
                    <div class="layui-input-inline" style="width: 90px;">
                        <select name="term" id="term">
                            <option value="0">全部</option>
                            <option value="1" th:selected="${product.term == '1'}">0-7天</option>
                            <option value="2" th:selected="${product.term == '2'}">8-14天</option>
                            <option value="3" th:selected="${product.term == '3'}">15-30天</option>
                            <option value="4" th:selected="${product.term == '4'}">31-90天</option>
                            <option value="5" th:selected="${product.term == '5'}">91-181天</option>
                            <option value="6" th:selected="${product.term == '6'}">181-365天</option>
                            <option value="7" th:selected="${product.term == '7'}">365天以上</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 75px;">产品类型：</label>
                    <div class="layui-input-inline">
                        <select name="type" id="type">
                            <option value="0">全部</option>
                            <option value="1" th:selected="${product.type == '1'}">保本</option>
                            <option value="2" th:selected="${product.type == '2'}">非保本</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 75px;">风险：</label>
                    <div class="layui-input-inline">
                        <select lay-search="" name="riskLevel" id="riskLevel">
                            <!--谨慎型产品(R1)、稳健型产品(R2)、平衡型产品(R3)、进取型产品(R4)、激进型产品(R5)-->
                            <option value="0">全部</option>
                            <option value="R1" th:selected="${product.riskLevel == 'R1'}">谨慎型产品</option>
                            <option value="R2" th:selected="${product.riskLevel == 'R2'}">稳健型产品</option>
                            <option value="R3" th:selected="${product.riskLevel == 'R3'}">平衡型产品</option>
                            <option value="R4" th:selected="${product.riskLevel == 'R4'}">进取型产品</option>
                            <option value="R5" th:selected="${product.riskLevel == 'R5'}">激进型产品</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 75px;">状态：</label>
                    <div class="layui-input-inline">
                        <select name="status" id="status">
                            <option value="0">全部</option>
                            <option value="1" th:selected="${product.status == '1'}">在售</option>
                            <option value="2" th:selected="${product.status == '2'}">待售</option>
                            <option value="3" th:selected="${product.status == '3'}">已售完</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 75px;">产品名称：</label>
                    <div class="layui-input-inline" style="width: 140px;">
                        <input id="name" autocomplete="off" class="layui-input" name="name"
                               placeholder="请输入产品名称" type="text"  th:field="*{name}"/>
                    </div>
                </div>

            </div>

            <div class="layui-form-item tc">
                <input class="layui-btn layui-btn-primary" type="reset" value="重置"/>
                <!-- <input class="layui-btn yellow_btn" lay-filter="search" lay-submit="submit" type="button" data-type="reload" value="搜索"/>-->
                <button class="layui-btn" data-type="reload">搜索</button>
            </div>
        </form>
    </div>

    <table class="layui-hide" id="product-list"></table>

</div>
<div class="header layui-bg-cyan">
    <input type="hidden" id="controller" value="Index"/>
    <div class="layui-header">
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="#">银行理财平台</a></li>
            <li class="layui-nav-item"><a href="#" th:href="@{/index/home}">首页</a></li>
            <li class="layui-nav-item layui-this" id="Agents"><a href="#">理财产品</a></li>
            <li class="layui-nav-item" id="News"><a href="#">理财资讯</a></li>
            <li class="layui-nav-item" id="Abount"><a href="#">关于我们</a></li>
        </ul>

        <ul class="layui-nav layui-right" th:unless="${session.user != null}">
            <li class="layui-nav-item">
                <a href="#">登录</a>
            </li>
            <li class="layui-nav-item"><a href="http://sso.softseeks.cn/Reg">注册</a></li>
        </ul>
        <ul class="layui-nav layui-right" th:unless="${session.user == null}">
            <li class="layui-nav-item">
                <a href="http://ruanyun.verdor.softseeks.cn" th:text="${session.user.name}"></a>
            </li>
            <li class="layui-nav-item"><a href="#" id="logout" th:href="@{/user/loginout1}">退出</a></li>
            <li class="layui-nav-item">
                <a href="">个人中心<span class="layui-badge-dot"></span></a>
            </li>
        </ul>
    </div>
</div>

</body>

<script type="text/html" id="barDemo">
    <a href="#" th:href="@{product/buy}"><i class="layui-icon" style="font-size: 30px; color: #FF5722;">&#xe698;</i></a>
</script>

<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:inline="javascript">

    layui.use('table', function(){
        var table = layui.table;

        //方法级渲染
        table.render({
            elem: '#product-list'
            , url: '/product/list1'
            , page: {
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip']
                //,curr: 5 //设定初始在第 5 页
                , groups: 1 //只显示 1 个连续页码
                , first: false //不显示首页
                , last: false //不显示尾页

            }
            ,id: 'testReload'
            ,skin:'line'
            ,even:true
            , cols: [[
                {field: 'id', width: 80, title: 'ID', sort: true}
                , {field: 'productCode', width: 166, title: '产品编码'}
                , {field: 'name', width: 150, title: '名称'}
                , {field: 'type', width: 120, title: '类型', sort: true}
                , {field: 'status', width: 130, title: '状态'}
                , {field: 'riskLevel', width: 90, title: '风险等级'}
                , {field: 'returnRate', width: 124, title: '收益率(%)',sort: true}
                , {field: 'term', width: 130, title: '投资期限',sort: true}
                , {field: 'ran_out_time', width: 120, title: '到期时间'}
                , {title: '操作', width: 87, templet: '#barDemo', fixed: "right", align: "left"}
            ]]
        });

        var $ = layui.$, active = {
            reload: function(){
                var term = $('#term');
                var type = $('#type');
                var reskLevel = $('#reskLevel');
                var status = $('#status');
                var name = $('#name')

                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }

                    ,where: {
                        term: term.val(),
                        type: type.val(),
                        reskLevel:reskLevel.val(),
                        status:status.val(),
                        name:name.val()
                    }
                });
            }
        };

        $('.condition_box .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });


    /* layui.use(['form', 'table'], function () {
         var table = layui.table
             , form = layui.form;

         table.render({
             elem: '#product-list'
             , url: '/product/list'
             , page: {
                 layout: ['limit', 'count', 'prev', 'page', 'next', 'skip']
                 //,curr: 5 //设定初始在第 5 页
                 , groups: 1 //只显示 1 个连续页码
                 , first: false //不显示首页
                 , last: false //不显示尾页

             }
             /!*,height:475*!/
             ,skin:'line'
             ,even:true
             , cols: [[
                   {field: 'id', width: 80, title: 'ID', sort: true}
                 , {field: 'productCode', width: 166, title: '产品编码'}
                 , {field: 'name', width: 150, title: '名称'}
                 , {field: 'type', width: 120, title: '类型', sort: true}
                 , {field: 'status', width: 130, title: '状态'}
                 , {field: 'riskLevel', width: 90, title: '风险等级'}
                 , {field: 'returnRate', width: 124, title: '收益率(%)',sort: true}
                 , {field: 'term', width: 130, title: '投资期限',sort: true}
                 , {field: 'ran_out_time', width: 120, title: '到期时间'}
                 , {title: '操作', width: 87, templet: '#barDemo', fixed: "right", align: "left"}
             ]]
         });

         //监听提交----搜索
         form.on('submit(search)', function (data) {
             layer.msg(JSON.stringify(data.field));
             $.ajax({
                 type: 'POST',
                 url: /!*[[@{/product/list}]]*!/'',
                 dataType: 'json',
                 data: data.field,
                 async: true,
                 success: function (result) {
                     console.log(result.code)
                     if (result.code == 0) {
                         layer.msg('success:保存成功', {icon: 1, time: 1000});
                         setTimeout(function () {
                            /!* parent.location.href = "/product/show";*!/
                         }, 1000);
                     } else {
                         console.alert(result.code);
                         layer.msg('error:保存失败！' + result.msg, {icon: 2, time: 1000});
                         layer.close(index);
                     }
                 },
                 error: function (result, type) {
                     layer.msg('error:保存失败！', {icon: 2, time: 1000});
                 }
             });
             console.log(data.field)
             return false;
         });
     });*/


</script>

</html>