<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
    <title>添加</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}"></link>
</head>
<body>
<div class="layui-container layui-form-item " style="margin-top: 20px;margin-left: 20px;margin-right: 20px">
    <form class="layui-form" action="#" th:action="@{/user/add}" th:object="${user}" method="post">
        <div class="layui-form-item magt3">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input name="name" lay-verify="required" type="text" class="layui-input" placeholder="请输入姓名" th:field="*{name}"/>
            </div>
        </div>
        <div class="layui-form-item magt3">
            <label class="layui-form-label">身份证</label>
            <div class="layui-input-inline">
                <input name="idCard" lay-verify="identity" type="text" class="layui-input" placeholder="请输入身份证" th:field="*{idCard}"/>
            </div>
        </div>
        <div class="layui-form-item magt3">
            <label class="layui-form-label">住址</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input newsName" lay-verify="newsName" placeholder="请输入住址"
                       th:field="*{address}"/>
            </div>
        </div>
        <div class="layui-form-item magt3">
            <label class="layui-form-label">账户</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input newsName" lay-verify="newsName" placeholder="请输入账户"
                       th:field="*{account}"/>
            </div>
        </div>
        <div class="layui-form-item magt3">
            <label class="layui-form-label">手机</label>
            <div class="layui-input-inline">
                <input name="phone" lay-verify="required|phone" type="tel" class="layui-input newsName" placeholder="请输入电话"
                       th:field="*{phone}"/>
            </div>
        </div>
        <div class="layui-form-item magt3">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input newsName" lay-verify="required|email" placeholder="请输入邮箱"
                       th:field="*{email}"/>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="submit" lay-filter="formDemo">添加</button>
                <button type="reset" class="layui-btn layui-btn-primary">取消</button>
            </div>
        </div>
    </form>
</div>
<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script th:inline="javascript">
    layui.use(['layer','form', 'element'], function () {
        var form = layui.form
            , $ = layui.$
            , element = layui.element
            , layer = layui.layer
            ,$ = layui.jquery;

        //数据校验
        form.verify({

        });


        //监听提交
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            $.ajax({
                type: 'POST',
                url: /*[[@{/user/add}]]*/'',
                dataType: 'json',
                data: data.field,
                async: true,
                success: function (result) {
                    console.log(result.code)
                    //没加@Responsebody注解
                    if (result.code == 0) {
                        layer.msg('success:保存成功', {icon: 1, time: 1000});
                        setTimeout(function () {
                            /*top.layer.closeAll('iframe');
                             //刷新父亲的页面
                             parent.refreshIframe();*/
                            parent.location.href = "/user/list";
                        }, 800);
                    } else {
                        console.alert(result.code);
                        layer.msg('eles:保存失败！' + result.msg, {icon: 2, time: 1000});
                        layer.close(index);
                    }
                },
                error: function (result, type) {
                    layer.msg('error:保存失败！', {icon: 2, time: 1000});
                }
            });
            console.log(data.field)
            return false;
        });
    });


</script>
</body>
</html>