<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
    <title>注册</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" ></link>
</head>
<body>
<div class="layui-container layui-form-item " style="margin-top: 20px;margin-left: 20px;margin-right: 20px">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label"><i class="layui-icon"
                                               style="font-size: 18px; color: #e2e2e2;">&#xe612;</i></label>
            <div class="layui-input-inline">
                <input type="text" name="title" required="required" lay-verify="required" placeholder="请输入用户名" autocomplete="off"
                       class="layui-input"></input>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><i class="layui-icon" style="font-size: 18px; color: #e2e2e2;">&#xe62a;</i></label>
            <div class="layui-input-inline">
                <input type="password" name="password" required="required" lay-verify="required" placeholder="请输入密码"
                       autocomplete="off" class="layui-input"></input>
            </div>
            <!--<div class="layui-form-mid layui-word-aux">密码长度不小于6位</div>-->
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="submit" lay-filter="formDemo">登录</button>
                <button type="reset" class="layui-btn layui-btn-primary">注册</button>
            </div>
        </div>
    </form>
</div>
<script src="../../static/layui/layui.js"></script>
<script>
    layui.use(['form', 'element'], function () {
        var form = layui.form
            , element = layui.element;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
</body>
</html>