<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>用户管理</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}"></link>
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css" th:href="@{http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css}"></link>
    <script src="../static/js/jquery-3.3.1.js" th:src="@{/js/jquery-3.3.1.js}"></script>
</head>
<body>
<div style="margin-top: 20px;margin-left: 20px">
    <button id="add-user" class="layui-btn">添加用户</button>
</div>
<table class="layui-table" lay-data="{width: 1100, height:500, url:'/user/list1', page:true, id:'idTest'}" lay-filter="demo">
    <thead>
    <tr>
        <th lay-data="{field:'id', width:80, sort: true, fixed: true}">ID</th>
        <th id="name" lay-data="{field:'name', width:130, sort: true}">姓名</th>
        <th lay-data="{field:'idCard', width:180}">身份证</th>
        <th lay-data="{field:'address', width:160}">住址</th>
        <th lay-data="{field:'account', width:180}">账户</th>
        <th lay-data="{field:'phone', width:140, sort: true}">电话</th>
        <!--<th lay-data="{field:'createTime', width:120}">创建时间</th>-->
        <th lay-data="{fixed: 'right', width:200, align:'center', toolbar: '#barDemo'}">操作</th>
    </tr>
    </thead>
</table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit" id="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script th:inline="javascript">
    //JavaScript代码区域
    layui.use(['table','layer'], function(){
        var table = layui.table,
            layer = layui.layer;

        /*table.render({
            elem: '#test'
            ,url:'/user/list1'
            ,cellMinWidth: 100
            ,cols: [[
                 {field:'id', width:80, title: 'ID', sort: true}
                ,{field:'name', width:120, title: '姓名', sort: true}
                ,{field:'idCard', width:120, title: '身份证'}
                ,{field:'account', width:120, title: '账户'}
                ,{field:'phone', title: '电话', width: 120}
                ,{field:'address', width:120, title: '住址', sort: true}
                ,{field:'createTime', width:120, title: '创建时间'}
            ]]
            ,page: true
        });*/
        //监听表格复选框选择
        table.on('checkbox(demo)', function(obj){
            console.log(obj)
        });
        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.msg('ID：'+ data.id + ' 的查看操作');
            } else if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                //layer.alert('编辑行：'+ JSON.stringify(data))
                layer.open({
                    type: 2,
                    maxmin: true,
                    title: '编辑用户',
                    content: 'http://localhost:8899/user/toEdit?id='+data.id, //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                    area: ['600px', '450px'],
                    offset: ['50px', '250px'],
                    success: function (layero, index) {
                        var name = $("#name").val();
                    }
                });
            }
        });

        var $ = layui.$, active = {
            getCheckData: function(){ //获取选中数据
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
            ,getCheckLength: function(){ //获取选中数目
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.msg('选中了：'+ data.length + ' 个');
            }
            ,isAll: function(){ //验证是否全选
                var checkStatus = table.checkStatus('idTest');
                layer.msg(checkStatus.isAll ? '全选': '未全选')
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

    $(function() {
        $('#add-user').on('click', function () {
            layer.open({
                type: 2,
                maxmin: true,
                title: '添加用户',
                content: 'http://localhost:8899/user/toAdd',
                area: ['600px', '450px'],
                offset: ['50px', '250px'],
                success: function (layero, index) {
                    var name = $("#name").val();
                }
            });
        });
    });
</script>

<table class="layui-hide" id="test"></table>
</body>
</html>