<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
    <title>登录</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" ></link>
</head>
<body>
<div class="layui-container layui-form-item " style="margin-top: 20px;margin-left: 20px;margin-right: 20px">
    <form class="layui-form" th:action="@{/user/dologin}" th:object="${login}" th:method="post">
        <div class="layui-form-item">
            <label class="layui-form-label"><i class="layui-icon"
                                               style="font-size: 18px; color: #e2e2e2;">&#xe612;</i></label>
            <div class="layui-input-inline">
                <input type="text" name="title" required="required" lay-verify="required" placeholder="请输入用户名" autocomplete="off"
                       class="layui-input" th:field="*{name}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><i class="layui-icon layui-icon-password" style="font-size: 18px; color: #e2e2e2;">&#xe62a;</i></label>
            <div class="layui-input-inline">
                <input type="password" name="password" required="required" lay-verify="required" placeholder="请输入密码"
                       autocomplete="off" class="layui-input" th:field="*{password}"/>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="submit" lay-filter="formDemo">登录</button>
                <button type="reset" class="layui-btn layui-btn-primary">注册</button>
            </div>
        </div>
    </form>
</div>
<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>

<script th:inline="javascript">
    layui.use(['form', 'element'], function () {
        var form = layui.form
            , element = layui.element
            ,$ = layui.jquery;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            $.ajax({
                type: 'POST',
                url: /*[[@{/user/dologin}]]*/'',
                dataType: 'json',
                data: data.field,
                async: true,
                success: function (data) {
                    console.log(data)
                    if(data.success == false){
                        alert("登录失败,请重新输入用户名密码")
                    }else if(data.success == true){
                        //关闭弹出层
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        parent.location.reload();
                    }
                },
                error: function (data) {
                    alert("后台接口调用异常")
                }
            });
            return false;
        });
    });
</script>
</body>
</html>