<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>理财风险评估</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}"></link>
    <script src="../static/js/jquery-3.3.1.js" th:src="@{/js/jquery-3.3.1.js}"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css" th:href="@{http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css}"></link>
</head>
<body >
<p style="margin-left: 70px;margin-top: 30px;margin-bottom: 20px;">
    重要提示：<br>
    1、本问卷有效期为1年。当发生可能影响您自身风险承担能力的情形时，请您主动要求重新评估。<br>
    2、本问卷旨在了解您的财务状况、投资经验、投资风格和风险承受能力等，借此协助您选择合适的理财产品类别，以达到您的投资目标。<br>
    3、投资理财产品需要承担各类风险，如市场风险、流动性风险、信用风险、利率风险、赋税风险等，可能遭受本金损失。<br>
    4、以下10个题请选择唯一选项。本次评估问卷的准确性视乎您所填写的答案而定，请您客观仔细填写，谢谢您的配合！<br>
</p>
<form class="layui-form" action="" lay-filter="example">

    <div class="layui-form-item">
        <!--<label class="layui-form-label" style="width: 100px;margin-bottom: 10px;margin-right: 10px">1.您的年龄是</label>-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
            <legend>1.您的年龄是</legend>
        </fieldset>
        <div class="layui-input-block">
            <input type="radio" name="1" value="1" title="A 18-20岁"><br>
            <input type="radio" name="1" value="2" title="B 26-50岁"><br>
            <input type="radio" name="1" value="3" title="C 51-60岁"><br>
            <input type="radio" name="1" value="4" title="D 高于60岁">
        </div>
    </div>

    <div class="layui-form-item">
        <!--<label class="layui-form-label" style="width: 100px;margin-bottom: 10px;margin-right: 10px">
            2.您的家庭总资产净值为（折合人民币）
        </label>-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
            <legend>2.您的家庭总资产净值为（折合人民币）</legend>
        </fieldset>
        <div class="layui-input-block" >
            <input type="radio" name="2" value="1" title="A 15万元（含）以下"><br>
            <input type="radio" name="2" value="2" title="B 15万元（不含）-50万元（含）"><br>
            <input type="radio" name="2" value="3" title="C 50万元（不含）-100万元（含）"><br>
            <input type="radio" name="2" value="4" title="D 100万元（不含）-1000万元（含）">
        </div>
    </div>

    <div class="layui-form-item">

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
            <legend> 3.在您家庭总资产净值中，可用于金融投资（储蓄存款外）的比例为</legend>
        </fieldset>
    <div class="layui-input-block">
        <input type="radio" name="3" value="1" title="A 小于10%"><br>
        <input type="radio" name="3" value="2" title="B 10%至25%"><br>
        <input type="radio" name="3" value="3" title="C 25%至50%"><br>
        <input type="radio" name="3" value="4" title="D 大于50%">
    </div>
    </div>

    <div class="layui-form-item">
        <!--<label class="layui-form-label" style="width: 100px;margin-bottom: 10px;margin-right: 10px">
            4.您有多少年投资股票、基金、外汇、金融衍生产品等风险投资品的经验
        </label>-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
            <legend> 4.您有多少年投资股票、基金、外汇、金融衍生产品等风险投资品的经验</legend>
        </fieldset>
        <div class="layui-input-block">
            <input type="radio" name="4" value="1" title="A 小于2年"><br>
            <input type="radio" name="4" value="2" title="B 2至5年"><br>
            <input type="radio" name="4" value="3" title="C 5至8年"><br>
            <input type="radio" name="4" value="4" title="D 8年以上">
        </div>
    </div>

    <div class="layui-form-item">
        <!--<label class="layui-form-label" style="width: 100px;margin-bottom: 10px;margin-right: 10px">
            5.投资于金融投资品（不含存款和国债）时，您可接受的最长投资期限是多久？
        </label>-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
            <legend> 5.投资于金融投资品（不含存款和国债）时，您可接受的最长投资期限是多久？</legend>
        </fieldset>
        <div class="layui-input-block">
            <input type="radio" name="5" value="1" title="A 1年之内"><br>
            <input type="radio" name="5" value="2" title="B 1-3年"><br>
            <input type="radio" name="5" value="3" title="C 3-5年"><br>
            <input type="radio" name="5" value="4" title="D 5年以上">
        </div>
    </div>

    <div class="layui-form-item">
        <!--<label class="layui-form-label" style="width: 100px;margin-bottom: 10px;margin-right: 10px">
            5.投资于金融投资品（不含存款和国债）时，您可接受的最长投资期限是多久？
        </label>-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
            <legend> 10.您的投资出现何种程度的波动时，您会呈现明显的焦虑</legend>
        </fieldset>
        <div class="layui-input-block">
            <input type="radio" name="5" value="1" title="A 本金无损失，但收益未达预期"><br>
            <input type="radio" name="5" value="2" title="B 出现轻微本金损失"><br>
            <input type="radio" name="5" value="3" title="C 本金10％以内的损失"><br>
            <input type="radio" name="5" value="4" title="D 本金20-50％的损失">
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block" style="text-align: center">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
        </div>
    </div>
</form>
<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });



        //监听提交
        form.on('submit(demo1)', function(data){
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });

        //表单初始赋值
        form.val('example', {
            "username": "贤心" // "name": "value"
            ,"password": "123456"
            ,"interest": 1
            ,"like[write]": true //复选框选中状态
            ,"close": true //开关状态
            ,"sex": "女"
            ,"desc": "我爱 layui"
        })


    });
</script>
</body>
</html>