<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
    <title>注册</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}"></link>
</head>
<body>
<div class="layui-container layui-form-item " style="margin-top: 20px;margin-left: 20px;margin-right: 20px">
    <form class="layui-form" th:action="@{/user/doregister}" th:object="${register}" th:method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="title" required="required" lay-verify="required" placeholder="请输入姓名" autocomplete="off"
                       class="layui-input" th:field="*{name}"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="password" name="password" required="required" lay-verify="required" placeholder="请输入密码"
                       autocomplete="off" class="layui-input" th:field="*{password}"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">手机</label>
            <div class="layui-input-inline">
                <input type="text" name="title" required="required" lay-verify="required" placeholder="请输入手机号" autocomplete="off"
                       class="layui-input" th:field="*{phone}"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-inline">
                <input type="text" name="title" required="required" lay-verify="required" placeholder="请输入邮箱" autocomplete="off"
                       class="layui-input" th:field="*{email}"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">身份证号</label>
            <div class="layui-input-inline">
                <input type="text" name="title" required="required" lay-verify="required" placeholder="请输入身份证号" autocomplete="off"
                       class="layui-input" th:field="*{idCard}"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">住址</label>
            <div class="layui-input-inline">
                <select name="provid" id="provid" lay-filter="provid" >
                    <option value="" th:field="*{provid}">请选择省</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="cityid" id="cityid" lay-filter="cityid">
                    <option value="" th:field="*{cityid}">请选择市</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="areaid" id="areaid" lay-filter="areaid">
                    <option value="" th:field="*{areaid}">请选择县/区</option>
                </select>
            </div>


            <div class="layui-input-inline">
                <input type="text" name="title" required="required" lay-verify="required" placeholder="" autocomplete="off"
                       class="layui-input" th:field="*{betterAddress}"/>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="reset" class="layui-btn" lay-submit="submit" lay-filter="formDemo">注册</button>
            </div>
        </div>
    </form>
</div>
<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" src="../../static/js/data.js" th:src="@{/js/data.js}"></script>
<script type="text/javascript" src="../../static/js/province-name.js" th:src="@{/js/province-name.js}"></script>

<script th:inline="javascript">
    layui.use(['form', 'element'], function () {
        var form = layui.form
            ,element = layui.element
            ,$ = layui.jquery,
            layer = layui.layer;

        /*console.log($("#provid").val())
        console.log($("#cityid").val())
        console.log($("#areaid").val())*/

        //监听提交
        form.on('submit(formDemo)', function (data) {
            $.ajax({
                type: 'POST',
                url: /*[[@{/user/doregister}]]*/'',
                dataType: 'json',
                data: data.field,
                async: true,
                success: function (data) {
                    console.log(data)
                    if(data.success == false){
                        layer.msg('注册失败');
                    }else if(data.success == true){
                        layer.msg('注册成功,即将跳往首页', {
                            icon: 1,
                            time: 4000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            //do something
                            location.href = "../index";
                        });

                    }
                },
                error: function (data) {
                    alert("后台接口调用异常")
                }
            });
            return false;
        });
    });
</script>
</body>
</html>