<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>理财平台</title>
    <meta name="keywords" content="GO积分,积分商城,区块链,区块链积分商城,积分API,区块链积分" />
    <meta name="description" content="GO积分积分商城(gojifen.cn)用全新区块链技术，倾心打造。" />
    <link href="../../static/layui/css/layui.css" rel="stylesheet" />
    <link href="../../static/css/index/mall.css" rel="stylesheet" />
    <link href="../../static/css/index/csshake.css" rel="stylesheet" />
    <!--<link href="../../static/css/index/global.css" rel="stylesheet" />-->


</head>

<body class="">
<div class="layui-layout layui-layout-admin">

    <div class="layui-header header_color">
        <div class="content header">
            <a href="http://www.gojifen.cn/" title="一个有梦想的积分商城(gojifen.cn)">
                <div class="logo">
                    <img src="/Content/img/logo.png" class="logoimg" />
                    <span>理财平台</span>
                </div>
            </a>
            <ul class="layui-nav layui-layout-left daohang">
                <li class="layui-nav-item"><a href="/home/index">首页</a></li>
                <li class="layui-nav-item"><a href="/home/list">积分兑换</a></li>
                <li class="layui-nav-item"><a href="/news/help">帮助中心</a></li>



                <li class="layui-nav-item"><a href="/home/ranks">排行榜</a></li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="/login/sign_in">
                        <i class="layui-icon">&#xe68e;</i>    登录
                    </a>

                </li>
            </ul>
        </div>
        <div class="jump" title="点我干啥~">
            <img src="/Content/img/wecome.png" class="redbao" width="58" />
        </div>
    </div>



    <div class="content">
        <div class="bannerLeft">
            <!-- 内容主体区域 -->
            <div class="layui-carousel" id="test1">
                <div carousel-item>
                    <div>
                        <a href="http://www.gojifen.cn/news/detail/12.html"  title="积分系统上线">
                            <img src="../../static/img/1.jpg" />
                        </a>
                    </div>
                    <div>
                        <a  title="积分兑换">
                            <img src="../../static/img/2.jpg" />
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="content clear">

        <div class="title-common clear">
            <h2 class="fl">
                <label></label>积分兑换
            </h2>
            <a href="/home/list" class="fr rigth-more">查看更多<label></label></a>
        </div>

        <div class="content">
            <a href="/home/show/6.html" class="list-item">
                <div class="imgLeft">
                                <span>
                                    <img src="http://img.gojifen.cn/pro_22721981aef945369871cafd2c205fd8.jpg" style="width: 100%;">
                                </span>
                </div>
                <div class="dataRight">
                    <div class="title clear">
                        <h3 class="ellipsis">
                            中国电信50元充值卡
                        </h3>
                        <span class="app-try">
                                        虚拟
                                    </span>
                    </div>
                    <div class="score-show2">
                        <span class="gold">4,800G</span>
                    </div>
                    <p class="introduce">全国通用50元话费充值卡。</p>
                </div>
                <div class="list-bottom clear">
                    <label>话费</label>
                    <label>中国电信</label>

                    <p class="view-count">
                        <label>
                        </label>
                        562
                    </p>
                </div>
            </a>
            <a href="/home/show/5.html" class="list-item">
                <div class="imgLeft">
                                <span>
                                    <img src="http://img.gojifen.cn/pro_f59bdc89da4d4d3291d4c84224af65ea.jpg" style="width: 100%;">
                                </span>
                </div>
                <div class="dataRight">
                    <div class="title clear">
                        <h3 class="ellipsis">
                            中国移动50元充值卡
                        </h3>
                        <span class="app-try">
                                        虚拟
                                    </span>
                    </div>
                    <div class="score-show2">
                        <span class="gold">4,800G</span>
                    </div>
                    <p class="introduce">全国通用移动50元充值卡。</p>
                </div>
                <div class="list-bottom clear">
                    <label>话费</label>
                    <label>中国移动</label>

                    <p class="view-count">
                        <label>
                        </label>
                        331
                    </p>
                </div>
            </a>
            <a href="/home/show/3.html" class="list-item">
                <div class="imgLeft">
                                <span>
                                    <img src="http://img.gojifen.cn/pro_123a76a8d17a4d2087908a2ef54b1008.jpg" style="width: 100%;">
                                </span>
                </div>
                <div class="dataRight">
                    <div class="title clear">
                        <h3 class="ellipsis">
                            中国移动10元充值卡
                        </h3>
                        <span class="app-try">
                                        虚拟
                                    </span>
                    </div>
                    <div class="score-show2">
                        <span class="gold">1,000G</span>
                    </div>
                    <p class="introduce">全国通用移动10元话费充值卡手机缴费交电话费快充冲中国。</p>
                </div>
                <div class="list-bottom clear">
                    <label>话费</label>
                    <label>中国移动</label>

                    <p class="view-count">
                        <label>
                        </label>
                        149
                    </p>
                </div>
            </a>
            <a href="/home/show/2.html" class="list-item">
                <div class="imgLeft">
                                <span>
                                    <img src="http://img.gojifen.cn/pro_d550cf75c3ec4a10a3820d6df6f7519f.jpg" style="width: 100%;">
                                </span>
                </div>
                <div class="dataRight">
                    <div class="title clear">
                        <h3 class="ellipsis">
                            中国联通10元充值卡
                        </h3>
                        <span class="app-try">
                                        虚拟
                                    </span>
                    </div>
                    <div class="score-show2">
                        <span class="gold">1,000G</span>
                    </div>
                    <p class="introduce">全国通用联通10元话费充值卡手机缴费交电话费快充冲中国。</p>
                </div>
                <div class="list-bottom clear">
                    <label>话费</label>
                    <label>中国联通</label>

                    <p class="view-count">
                        <label>
                        </label>
                        205
                    </p>
                </div>
            </a>
            <a href="/home/show/4.html" class="list-item">
                <div class="imgLeft">
                                <span>
                                    <img src="http://img.gojifen.cn/pro_e6ef4f1f935948cfa93919c018f9be71.jpg" style="width: 100%;">
                                </span>
                </div>
                <div class="dataRight">
                    <div class="title clear">
                        <h3 class="ellipsis">
                            中国电信10元充值卡
                        </h3>
                        <span class="app-try">
                                        虚拟
                                    </span>
                    </div>
                    <div class="score-show2">
                        <span class="gold">1,000G</span>
                    </div>
                    <p class="introduce">全国通用电信10元话费充值卡手机缴费交电话费快充冲中国。</p>
                </div>
                <div class="list-bottom clear">
                    <label>话费</label>
                    <label>中国电信</label>

                    <p class="view-count">
                        <label>
                        </label>
                        176
                    </p>
                </div>
            </a>
            <a href="/home/show/1.html" class="list-item">
                <div class="imgLeft">
                                <span>
                                    <img src="http://img.gojifen.cn/pro_8d9f3cfe12774be1818d28f0adfa4a39.jpg" style="width: 100%;">
                                </span>
                </div>
                <div class="dataRight">
                    <div class="title clear">
                        <h3 class="ellipsis">
                            中国联通50元充值卡
                        </h3>
                        <span class="app-try">
                                        虚拟
                                    </span>
                    </div>
                    <div class="score-show2">
                        <span class="gold">4,800G</span>
                    </div>
                    <p class="introduce">全国通用联通50元话费充值卡。</p>
                </div>
                <div class="list-bottom clear">
                    <label>话费</label>
                    <label>中国联通</label>

                    <p class="view-count">
                        <label>
                        </label>
                        158
                    </p>
                </div>
            </a>

        </div>
    </div>

    <div class="content clear">

        <div class="title-common clear">
            <h2 class="fl">
                <label></label>实物兑换
            </h2>
            <a href="/home/list" class="fr rigth-more">查看更多<label></label></a>
        </div>

        <div class="content">
            <a href="/home/show/10.html" class="list-item">
                <div class="imgLeft">
                                <span>
                                    <img src="http://img.gojifen.cn/pro_1dd3db6674d640e79a6edaaf1ab513ff.jpg" style="width: 100%;">
                                </span>
                </div>
                <div class="dataRight">
                    <div class="title clear">
                        <h3 class="ellipsis">
                            Dior迪奥口红女士唇膏 烈艳蓝金999
                        </h3>
                        <span class="app-try">
                                        实物
                                    </span>
                    </div>
                    <div class="score-show2">
                        <span class="gold">26,900G</span>
                    </div>
                    <p class="introduce">Dior迪奥口红女士唇膏 烈艳蓝金999</p>
                </div>
                <div class="list-bottom clear">
                    <label>实物</label>
                    <label>迪奥</label>

                    <p class="view-count">
                        <label>
                        </label>
                        330
                    </p>
                </div>
            </a>
            <a href="/home/show/9.html" class="list-item">
                <div class="imgLeft">
                                <span>
                                    <img src="http://img.gojifen.cn/pro_556c5712bdca47a8bea6920944e82707.jpg" style="width: 100%;">
                                </span>
                </div>
                <div class="dataRight">
                    <div class="title clear">
                        <h3 class="ellipsis">
                            天猫精灵 X1 智能音箱
                        </h3>
                        <span class="app-try">
                                        实物
                                    </span>
                    </div>
                    <div class="score-show2">
                        <span class="gold">45,000G</span>
                    </div>
                    <p class="introduce">天猫精灵 X1 智能音箱 语音助手 蓝牙网络WiFi音响</p>
                </div>
                <div class="list-bottom clear">
                    <label>实物</label>
                    <label>智能音响</label>

                    <p class="view-count">
                        <label>
                        </label>
                        334
                    </p>
                </div>
            </a>
            <a href="/home/show/8.html" class="list-item">
                <div class="imgLeft">
                                <span>
                                    <img src="http://img.gojifen.cn/pro_6238bf624e6a4c5e98b660dc6fde639c.jpg" style="width: 100%;">
                                </span>
                </div>
                <div class="dataRight">
                    <div class="title clear">
                        <h3 class="ellipsis">
                            罗马仕充电宝10000毫安
                        </h3>
                        <span class="app-try">
                                        实物
                                    </span>
                    </div>
                    <div class="score-show2">
                        <span class="gold">8,900G</span>
                    </div>
                    <p class="introduce">罗马仕 10000毫安纤薄可爱便携手机通用充电宝炫彩聚合物移动电源 </p>
                </div>
                <div class="list-bottom clear">
                    <label>实物</label>
                    <label>充电宝</label>

                    <p class="view-count">
                        <label>
                        </label>
                        219
                    </p>
                </div>
            </a>
            <a href="/home/show/7.html" class="list-item">
                <div class="imgLeft">
                                <span>
                                    <img src="http://img.gojifen.cn/pro_ad2b9bb453b84fc7850e438122fd6f28.jpg" style="width: 100%;">
                                </span>
                </div>
                <div class="dataRight">
                    <div class="title clear">
                        <h3 class="ellipsis">
                            jarsun定制马克杯
                        </h3>
                        <span class="app-try">
                                        实物
                                    </span>
                    </div>
                    <div class="score-show2">
                        <span class="gold">1,999G</span>
                    </div>
                    <p class="introduce">jarsun真金十二生肖可爱陶瓷杯子马克杯个性咖啡牛奶茶水杯带盖勺 </p>
                </div>
                <div class="list-bottom clear">
                    <label>实物</label>
                    <label>马克杯</label>

                    <p class="view-count">
                        <label>
                        </label>
                        218
                    </p>
                </div>
            </a>

        </div>

    </div>

    <div class="footer">
        <div class="content">
            <div class="flist">
                <p>Copyright © 2018 <a href="/">GoJifen.cn</a> 版权所有</p>
            </div>
        </div>
    </div>
    <script src="../../static/layui/layui.all.js"></script>
    <script src="../../static/js/common.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?a172e07bf1d1ce4b96c76473481ad404";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>



</div>

<script>

    // 条幅
    layui.carousel.render({
        elem: '#test1'
        , width: '100%' //设置容器宽度
        , height: '270px'
        , arrow: 'hover' //始终显示箭头
        , anim: 'fade' //切换动画方式
        , interval: 4500
    });
</script>
</body>
