<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width"></meta>
    <title>银行理财平台</title>
    <meta name="referrer" content="unsafe-url"></meta>
    <meta name="referrer" content="always"></meta>
    <link href="../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
    <link href="../static/css/index/global.css" th:href="@{/css/index/global.css}" rel="stylesheet"/>
    <script src="../static/js/jquery-3.3.1.js" th:src="@{/js/jquery-3.3.1.js}"></script>
    <script src="../static/js/vue.js" th:src="@{/js/vue.js}"></script>
    <style>
        .border_blue{
            border: 1px solid #5abef4;
            color: #39b0f1;
        }
        .g-tac a{
            display: block;
            font-size: 20px;
            text-decoration: none;
            line-height: 41px;
            margin: 0 auto;
            width: 65.5%;
            height: 44px;
            border-radius: 4px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="header layui-bg-cyan">
    <input type="hidden" id="controller" value="Index"/>
    <div class="layui-header">
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="#">银行理财平台</a></li>
            <li class="layui-nav-item layui-this" id="Index"><a href="#">首页</a></li>

            <li class="layui-nav-item" id="Agents"><a href="#" th:href="@{/product/show}">理财产品</a></li>
            <li class="layui-nav-item" id="News"><a href="#" th:href="@{/notice/show}">理财资讯</a></li>
            <li class="layui-nav-item" id="Abount"><a href="#">关于我们</a></li>
            <li class="layui-nav-item" id="ques"><a th:href="@{/user/riskQuestion}" href="/user/riskQuestion">风险评估</a></li>

        </ul>

        <ul class="layui-nav layui-right" th:unless="${session.user != null}">
            <li class="layui-nav-item">
                <a href="#"   id="login">登录</a>
            </li>
            <li class="layui-nav-item"><a href="http://sso.softseeks.cn/Reg">注册</a></li>
        </ul>
        <ul class="layui-nav layui-right" th:unless="${session.user == null}">
            <li class="layui-nav-item">
                <a href="http://ruanyun.verdor.softseeks.cn" ></a>
            </li>
            <li class="layui-nav-item"><a href="#" th:href="@{/user/loginout1}">退出</a></li>
            <li class="layui-nav-item">
                <a href="">个人中心<span class="layui-badge-dot"></span></a>
            </li>
        </ul>
    </div>

</div>

<div id="Body">
    <div class="slider">
        <div class="layui-carousel" id="test10">
            <!--轮播图-->
            <div carousel-item="">
                <div>
                    <img th:src="@{/images/6.jpg}" src="images/6.jpg"/>
                </div>
                <div>
                    <img th:src="@{/images/7.jpg}" src="/images/7.jpg"/>
                </div>
                <div>
                    <img th:src="@{/images/8.jpg}" src="images/8.jpg"/>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: #ffffff; width: 100%; overflow: hidden;">
        <div class="g-box">
            <div class="m-not s-fs12">
                <div class="g-box">
                    <span class="layui-badge-dot"></span>
                    <span>最新公告</span>
                     <span>
                        <a href="#"><i></i>&nbsp;&nbsp;&nbsp;为落实《中国人民银行关于加强支付结算管理防范电信网络新型违法犯罪有关事项的通知》(下称《通知》）</a>

                    </span>

                </div>
            </div>
        </div>
    </div>

    <div class="wrap s-bg-gy">
        <dl class="g-box m-dl">
            <dt class="m-dt-t1">让您的资产稳定增长</dt>
            <dt class="m-dt-t2 g-mb64">放心理财，优质服务，低风险投入，收益百分百</dt>

            <dd>
                <ul class="f1">
                    <li>
                        <div class="g-tac">
                            <br/>
                            <p class="g-mt20 f1-t1">慧赢成长18149</p>
                            <p class="g-mt14 s-fc-gy">预期年化收益 5.6%</p>
                            <p class="s-fc-gy">三分钟打造自己的小程序</p>
                            <a href="#" class="border_blue">立即购买</a>
                        </div>
                    </li>
                    <li>
                        <div class="g-tac">
                            <br/>
                            <p class="g-mt20 f1-t1">慧赢成长18149</p>
                            <p class="g-mt14 s-fc-gy">预期年化收益 5.6%</p>
                            <p class="s-fc-gy">三分钟打造自己的小程序</p>
                            <a href="#" class="border_blue">立即购买</a>
                        </div>
                    </li>
                    <li>
                        <div class="g-tac">
                            <br/>
                            <p class="g-mt20 f1-t1">慧赢成长18149</p>
                            <p class="g-mt14 s-fc-gy">预期年化收益 5.6%</p>
                            <p class="s-fc-gy">三分钟打造自己的小程序</p>
                            <a href="#" class="border_blue">立即购买</a>
                        </div>
                    </li>
                    <li>
                        <div class="g-tac">
                            <br/>
                            <p class="g-mt20 f1-t1">慧赢成长18149</p>
                            <p class="g-mt14 s-fc-gy">预期年化收益 5.6%</p>
                            <p class="s-fc-gy">三分钟打造自己的小程序</p>
                            <a href="#" class="border_blue">立即购买</a>
                        </div>
                    </li>

                </ul>
            </dd>
        </dl>
    </div>

    <div style="background-color: #ffffff; overflow: hidden;">
        <div class="t-box1 wrap">
            <h1 class="font28 grey333 f-tac">为您推荐</h1>
            <p class="f-tac f-db font16 grey666">科学理财、轻松赢利、快捷办理、收益稳定</p>
            <div class="t-con-new f-cb">
                <ul>
                    <li>
                        <a href="#" target="_blank" class="t-con-new-item bg-7">
                            <div class="t-con-new-item-bg"><i class="t-con-new-item-icon07"></i></div>
                            <h3>新零售</h3>
                            <p>
                                商城、营销、会员<br/>
                                门店全方位管理<br/>
                                助力新零售转型升级
                            </p>
                            <i class="t-con-new-item-btn">了解更多</i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="t-con-new-item bg-8">
                            <div class="t-con-new-item-bg"><i class="t-con-new-item-icon08"></i></div>
                            <h3>新餐饮</h3>
                            <p>
                                订座 堂吃点餐 外卖<br/>
                                餐饮行业前厅后厨外卖<br/>
                                一体化解决方案
                            </p>
                            <i class="t-con-new-item-btn">了解更多</i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="t-con-new-item bg-9">
                            <div class="t-con-new-item-bg"><i class="t-con-new-item-icon09"></i></div>
                            <h3>新零售</h3>
                            <p>
                                商城、营销、会员<br/>
                                门店全方位管理<br/>
                                助力新零售转型升级
                            </p>
                            <i class="t-con-new-item-btn">了解更多</i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="t-con-new-item bg-10">
                            <div class="t-con-new-item-bg"><i class="t-con-new-item-icon10"></i></div>
                            <h3>新零售</h3>
                            <p>
                                商城、营销、会员<br/>
                                门店全方位管理<br/>
                                助力新零售转型升级
                            </p>
                            <i class="t-con-new-item-btn">了解更多</i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="t-con-new-item bg-11">
                            <div class="t-con-new-item-bg"><i class="t-con-new-item-icon11"></i></div>
                            <h3>新零售</h3>
                            <p>
                                商城、营销、会员<br/>
                                门店全方位管理<br/>
                                助力新零售转型升级
                            </p>
                            <i class="t-con-new-item-btn">了解更多</i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="t-con-new-item bg-12">
                            <div class="t-con-new-item-bg"><i class="t-con-new-item-icon12"></i></div>
                            <h3>新零售</h3>
                            <p>
                                商城、营销、会员<br/>
                                门店全方位管理<br/>
                                助力新零售转型升级
                            </p>
                            <i class="t-con-new-item-btn">了解更多</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="f-cb" align="center">
            </div>
        </div>
    </div>


    <div style="padding-bottom: 65px;">
        <p class="g-title">便捷服务</p>
        <div class="app-scene">
            <span>
                <img src="http://cdn.jisuapp.cn/zhichi_frontend/static/webapp_home/img/find-app.svg" alt=""
                     style="width: 28px; height: 34px"/>
                <p>手机银行</p>
                <img src="http://cdn.jisuapp.cn/zhichi_frontend/static/webapp_home/img/accessory-app.svg" alt=""
                     style="width: 38px; height: 34px"/>
                <p>服务价目</p>
            </span>
            <span>
                <img src="http://cdn.jisuapp.cn/zhichi_frontend/static/webapp_home/img/scan-code.svg" alt=""
                     style="width: 32px; height: 39px"/>
                <p>信用卡产品</p>
                <img src="http://cdn.jisuapp.cn/zhichi_frontend/static/webapp_home/img/share-wx.svg" alt=""
                     style="width: 29px; height: 34px"/>
                <p>借记卡产品</p>
            </span>
            <span>
                <img src="http://cdn.jisuapp.cn/zhichi_frontend/static/webapp_home/img/top-search.svg" alt=""
                     style="width: 32px; height: 37px"/>
                <p>出国金融</p>
                <img src="http://cdn.jisuapp.cn/zhichi_frontend/static/webapp_home/img/mini-apps.svg" alt=""
                     style="width: 33px; height: 34px"/>
                <p>定期存款</p>
            </span>
            <span>
                <img src="http://cdn.jisuapp.cn/zhichi_frontend/static/webapp_home/img/code-drainage.svg" alt=""
                     style="width: 27px; height: 42px"/>
                <p>聊天顶部</p>
                <img src="http://cdn.jisuapp.cn/zhichi_frontend/static/webapp_home/img/WCOA.svg" alt=""
                     style="width: 41px; height: 42px"/>
                <p>分期付款</p>
            </span>
            <span>
                <img src="http://cdn.jisuapp.cn/zhichi_frontend/static/webapp_home/img/recommend-friend.svg" alt=""
                     style="width: 44px; height: 44px"/>
                <p>网银助手</p>
                <img src="http://cdn.jisuapp.cn/zhichi_frontend/static/webapp_home/img/article.svg" alt=""
                     style="width: 38px; height: 34px"/>
                <p>安全专区</p>
            </span>
        </div>
    </div>


    <div class="develop-step">
        <div class="develop-step-title">购买理财产品流程</div>
        <div class="develop-step-content clearfix">
            <div class="develop-first-step">完成风险评估</div>
            <div class="develop-second-step">选择理财产品</div>
            <div class="develop-third-step">阅读产品说明书</div>
            <div class="develop-firth-step">完成理财投资</div>
        </div>
    </div>


</div>

<script src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script th:inline="javascript" >
    layui.use(['carousel', 'form'], function () {
        var carousel = layui.carousel
            , form = layui.form;
        //图片轮播
        carousel.render({
            elem: '#test10'
            , width: '100%'
            , height: '520px'
            , interval: 5000
        });

    });

    //登录
    $(function() {
        $('#login').on('click', function () {
             layer.open({
                type: 2,
                title: '用户登录',
                maxmin: true,
                skin: 'layui-layer-lan',
                shadeClose: true, //点击遮罩关闭层
                area: ['400px', '280px'],
                content: '/user/login.html'//弹框显示的url
            });
        });
    });
</script>

<div class="footer" style="text-align: left">
    <div class="footer-top">
        <div class="wrap">
            <div class="footer-block w-23">
                <div class="logo">

                </div>

            </div>
            <div class="footer-block w-25">
                <div class="footer-tit">服务产品</div>
                <div class="footer-tit-title"><a href="#">个人存款</a></div>
                <div class="footer-tit-title"><a href="#">信用卡</a></div>
                <div class="footer-tit-title"><a href="#">电子银行</a></div>
                <div class="footer-tit-title"><a href="#">积分兑换</a></div>
                <div class="footer-tit-title"><a href="#">个人贷款</a></div>

            </div>

            <div class="footer-block w-22">
                <div class="footer-tit">联系我们</div>
                <p style="margin-bottom: 10px;">xxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                <p class="mb-10">
                    <a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=885115820&amp;aty=0&amp;a=0&amp;curl=&amp;ty=1"
                       target="_blank">企业QQ：1790329815
                        <span class="foot-qq"></span>
                    </a>
                </p>
                <p class="mb-10">企业邮箱:13588034686@163.com</p>

            </div>
            <div class="footer-block w-12">
            </div>
            <div class="clear"></div>
        </div>
        <div style="height: 35px; line-height: 35px; font-size: 12px; text-align: left; width: 1200px; margin: 0 auto; overflow: visible; color: #fff; padding-top: 10px;">
        </div>
    </div>
    <div class="footer-bottom">

    </div>
</div>

</body>
</html>
<script>
    $(function () {

        var controller = $("#controller").val();
        $(".layui-nav-item").removeClass("layui-this");
        $("#" + controller).addClass("layui-this");
    })
    var app5 = new Vue({
        el: '.layui-header',
        data: {
            User: [],
            locationhref: ""
        },
        beforeMount: function () {
            /*var that = this;
            that.locationhref = window.location.href;
            $.ajax({
                url: "/Base/GetUserInfo",
                data: {},
                dataType: "json",
                async: false,
                success: function (data) {
                    that.User = data;

                }
            });*/
        },
        methods: {}
    })

</script>
